@model IEnumerable<AdminModeratorUserClaimDemo.Models.Product>

@{
    ViewData["Title"] = "Продукти";
}

<h2>Список продуктів</h2>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Назва</th>
            <th>Опис</th>
            <th>Ціна</th>
            <th>Статус</th>
            <th>Дата створення</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price.ToString("F2") грн</td> <!-- форматована ціна -->
                <td>
                    @switch (product.Status)
                    {
                        case ProductStatusEnum.available:
                            @:Доступний
                            break;
                        case ProductStatusEnum.unavailable:
                            @:Недоступний
                            break;
                        default:
                            @product.Status
                            break;
                    }
                </td>
                <td>@product.CreatedAt.ToString("dd.MM.yyyy HH:mm")</td>
            </tr>
        }
    </tbody>
</table>


